<div class="headerbackWrap">
    <span class="titleOne"><a href="{{this.news?.home_page_url}}">{{this.news?.title}}</a></span>
  </div>
  <div class="gap20"></div>
<div class="newsContainer">
  <div class="newsSection">
    <!-- <h2 class="sectionHed" style="color: #f00;">Urgent</h2> -->
    <div class="row">
      <div class="col-md-12" >
        <div class="sectionBox" *ngFor="let data of this.news?.items">
          <!-- <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div> -->
          <h3 class="sectionSubHed">
            <span class="sectionSubHed text-white"><a class="text-white" href="{{data.url}}">{{data.title}}</a></span>
          </h3>
          
          <div class="sectionContent">
            <p [innerHTML]="data.content_html">{{data.content_html}}</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <div class="newsSection scroll">
    <h2 class="sectionHed" style="color: #2A4;">Approved</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newsSection scroll">
    <h2 class="sectionHed" style="color: #e7a104;">Sold</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sectionBox">
          <div class="imgBox">
            <img src="assets/advnc-setup-img2.png" alt="image">
          </div>
          <h3 class="sectionSubHed">What is Lorem Ipsum</h3>
          <div class="sectionContent">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s,</p>
          </div>
        </div>
      </div> -->
    <!-- </div>
  </div> -->
</div>
<div class="onEventLoadWrap" *ngIf="showLoader">
  <ng-container>
    <div class="text-center loader_show">
      <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      <span style="color:#ffffff">Raida server connecting.</span>
    </div>
  </ng-container>