.skyAddressFieldWrap {
    margin-top: 30px;
}

.formField {
    input {
        display: inline-block;
        width: 250px;
        background-color: transparent !important;
        border-radius: 4px;
        // border: 2px solid rgba(18, 122, 244, 0.48);
        border: 1px solid rgba(255, 255, 255, 0.26);
    }
    .domainName {
        display: inline-block;
        vertical-align: text-top;
        font-size: 15px;
        color: #fff !important;
        line-height: 15px;
        margin-left: 5px;
    }
}
.uploadBtnWrap {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .uploadLaterLink {
        font-size: 16px;
        color: #fff;
        margin-left: 10px;
        opacity: 0.8;
        transition: all 0.2s;
        &:hover {
            opacity: 1;
        }
    }
}