.container{
    margin-top: 5%;
    margin-right: 2%;
}
.boxes{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.textCenter{
    font-weight: bold;
    text-align: center;

}
.local-wallet-icon{
    height: 50px;
    width: 50px;
}