<div class="transWrapper">
    <div class="headerbackWrap">
        <span class="titleOne">1000 CloudCoins Withdrawn</span>
    </div>
    <hr>
    <div class="formInline">
        <label>SkyVault address: </label>
        <span>address will show where</span>
    </div>
    <div class="formInline">
        <label>Current balance: </label>
        <span>1000CC</span>
    </div>
    <div class="formInline">
        <label>Paid using: </label>
        <span>Stripe</span>
    </div>
    <div class="gap20"></div>
    <div class="row">
        <div class="col-md-6">
            <a href="javascript:;" routerLink="/dashboard" class="btnCustomBlack">Go to HomeScreen</a>
        </div>
    </div>
</div>
