.text_box{
    // position: relative;
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid rgb(188, 187, 187);
    border-radius: 4px;
    display: inline;
    font-size: 14px;
    width: 100px;
    text-align: center;
    // margin-left: 10px;  
}
.text_box_two{
   // position: relative;
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid rgb(188, 187, 187);
    border-radius: 4px;
    display: inline;
    font-size: 14px;
    width: 300px;
    text-align: center;
    // margin-left: 10px;  
}
.btn_text{
    color: #686868;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
.btn_text_two{
    color: #686868;
    font-size: 14px;
    font-weight: 400; 
}
