// .boxHolderLeftIntrobg {
//     // background-color: #007574;
// }
// .boxHolderRightIntrobg {

// }
.boxHolderLeft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 20px 0 0 20px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 576px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 20px 0 0 20px;
        position: relative;
        overflow: hidden;
    }
}

.boxHolderRight {
    width: 50%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    // height: 80vh;
    overflow: auto;
    box-shadow: -10px 0px 20px rgb(0 0 0 / 7%);
    @media screen and (max-width: 576px) {
        height: auto;
        width: 100%;
    }
    
}

.authWrapperIntro {
    // background: -webkit-linear-gradient(left , #007574 0% , #007574 65% , #FFF 65% , #FFF 100%);
    // background: -webkit-linear-gradient(left, #2b8cff 0%, #2b8cff 65%, #FFF 65%, #FFF 100%);
    @media screen and (max-width: 576px) {
        // background: #007574;
        // padding-top: 50px;
    }
    .authHolder {
        box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
        border-radius: 20px;
        width: 1000px;
        max-width: 90%;
        display: flex;
        min-height: 80vh;
        // background-color: rgb(255 255 255 / 6%);
        background-color: rgb(255 255 255);
    }
}

.welcomeHolder {
    .welcomeLogo {
        height: 40px;
        display: block;
        margin: 0 auto 20px;
    }
    .welcomeHeading {
        font-size: 40px;
        color: #fff;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 400;
    }
    .welcomeSubhead {
        font-size: 20px;
        color: #fff;
        margin: 0;
        text-align: center;
    }
    .walletChooserWrap {
        margin-top: 50px;
    }
    .walletItem {
        text-align: center;
        padding: 0 60px;
        .walletIcon {
            height: 120px;
            margin-bottom: 30px;
        }
        .walletItemHeader {
            font-size: 26px;
            color: #fff;
            margin-bottom: 20px;
        }
        .walletItemDesc {
            font-size: 17px;
            color: #fff;
            margin-bottom: 20px;
        }
        .btnCustomBlue {
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}