<div class="authWrapper">
    <a href="javascript:;" routerLink="/localwallet" class="backlinkBtn"><img src="assets/back_arrow.svg" alt=""></a>
    <div class="bodyInnerWrapper">
      <div class="stepperHolder">
        <div class="stepperWrap">
          <div class="step stepActive">
            <div class="circleWrap">
              <div class="circle"></div>
            </div>
            <div class="steptextWrap">
              <span class="amount">Name Setup</span>
            </div>
          </div>
          <!-- <div class="step stepActive">
            <div class="circleWrap">
              <div class="circle"></div>
            </div>
            <div class="steptextWrap">
              <span class="amount">Security setup</span>
            </div>
          </div> -->
          <!-- <div class="step stepActive">
            <div class="circleWrap">
              <div class="circle"></div>
            </div>
            <div class="steptextWrap">
              <span class="amount">Import CloudCoin</span>
            </div>
          </div> -->
          <div class="step stepActive">
            <div class="circleWrap">
              <div class="circle"></div>
            </div>
            <div class="steptextWrap">
              <span class="amount">Completed</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="titleOne">Wallet <span style="color: #0884FF;">{{user}}</span> has been created.</h2>
            <div class="gap30"></div>
            <a href="javascript:;" class="btnCustomBlue btnLarge" routerLink="/dashboard" (click)="go()">Go to Dashboard</a>
            <!-- <p class="titleTwo" style="opacity: 0.8;">Make sure you write down you password or remember it. </p> -->
            <div class="skyAddressFieldWrap">
              <!-- <p class="titleTwo">Recovery email address: &nbsp; <span style="opacity: 0.7;">{{this.email !== 'null'?this.email: 'Not available'}}</span> </p> -->
              <!-- <div class="gap10"></div>
              <p class="titleTwo">Password: &nbsp; <span style="opacity: 0.7;">{{this.pass !== 'null'? this.pass : 'Not available'}}</span> </p> -->
            </div>
          </div>
          <div class="errorMsg col-md-8" *ngIf="errorInfo">
            {{this.errorMsg}}
          </div>
          <div class="col-md-4">
            <img src="assets/localwallet-step-completed-black-white.png" alt="rocket image" class="stepperMainImg">
          </div>
        </div>
      </div>
    </div>
    <div class="bottomPartSubmit">
      <div class="bottomFooter">
        <div class="container">
          <!-- <a href="javascript:;" class="btnCustomBlue btnLarge" routerLink="/dashboard" (click)="go()">Go to Dashboard</a> -->
        </div>
      </div>
    </div>
  </div>

