<div class="authWrapper">
    <div class="authHolder payHolder">
        <div class="payHolderLeft">
            <div class="payHoldInner">
                <h2 class="subTitleOne">Buy</h2>
                <h3 class="ccAmount">1000 CC</h3>
                <p class="titleTwo ccAmounDoller">$100</p>
                <div class="gap10"></div>
                <span class="payPowered">Powered by Stripe</span>
            </div>

        </div>
        <div class="payHolderRight">
            <div class="payHoldInner">
                <button class="btnCustomBlack btn-block text-center payBtn"> <img src="assets/apple.svg" alt="apple icon"><span>Pay</span></button>
            <div class="orPayHolder">
                <span class="orPay">Or pay with card</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formField">
                        <label for="">Card information</label>
                        <div class="payImgField">
                            <input type="text" placeholder="1234 1234 1234 1234">
                            <img src="assets/payImg.png" alt="" class="payImg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap20"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="formField">
                        <input type="text" placeholder="MM/YY">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="formField">
                        <input type="text" placeholder="CVV/CVC">
                    </div>
                </div>
            </div>
            <div class="gap20"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formField">
                        <label for="">Name on card</label>
                        <input type="text" placeholder="">
                    </div>
                </div>
            </div>
            <div class="gap10"></div>
            <hr>
            <div class="gap10"></div>
            <button class="btnCustomBlack btn-block">Pay Using Stripe</button>
            <div class="gap20"></div>
            <button class="btnCustomWhite btn-block">Cancel Transaction</button>
            </div>
        </div>
    </div>
</div>
