.settingsWrapper {
    height: calc(100vh - 60px);
    position: relative;
    @media screen and (max-width: 992px) {
        height: 100%;
    }
    .tabBody {
        height: calc(100vh - 240px);
        overflow-y: auto;
        overflow-x: hidden;
        @media screen and (max-width: 1320px) {
            height: calc(100vh - 290px);
        }
        @media screen and (max-width: 992px) {
            height: calc(100vh - 310px);
        }
        @media screen and (max-width: 576px) {
            height: calc(100vh - 320px);
        }
    }
    .footerFixed {
        position: absolute;
        bottom: -30px;
        left: -30px;
        right: 0;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.04);
        width: calc(100vw + 60px);
        z-index: 500;
        @media screen and (max-width: 992px) {
            bottom: -70px;
        }
        @media screen and (max-width: 576px) {
            bottom: 0px;
            position: fixed;
            left: 0;
        }
    }
}

.table td,
.table th {
    padding: 0.15rem !important;
    vertical-align: baseline !important;
}

.smalInfoDivWoFlex {
    display: block;
}
.subHedOne {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}
.textOne {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}
.lineSection {
    width: initial;
    .inputSelectOne {
        display: inline-block;
        select {
            width: 200px;
            height: 40px;
            display: inline-block;
            border: 1px solid rgba(255, 255, 255, 0.26);
            border-radius: 4px;
            background-color: transparent !important;
            padding: 0px 10px !important;
            option {
                background-color: #2c2c2c;
                font-size: 16px;
                color: #fff;
                padding: 10px 0;
            }
            &:focus {
                border: solid 1px #0884ff;
                outline: transparent;
            }
        }
        .flgIcon {
            width: 30px;
            height: 20px;
            object-fit: cover;
        }
    }
    .inputSelectTwo {
        display: inline-block;
        label {
            font-size: 16px;
            display: block;
            margin-bottom: 10px;
            text-align: left;
            line-height: 16px;
            color: #fff;
        }
        select {
            padding: 0px 10px !important;
            width: 300px;
            height: 40px;
            border: 1px solid rgba(255, 255, 255, 0.26);
            border-radius: 4px;
            background-color: transparent !important;
            option {
                background-color: #2c2c2c;
                font-size: 16px;
                color: #fff;
                padding: 10px 0;
            }
            &:focus {
                border: solid 1px #0884ff;
                outline: transparent;
            }
        }
        .flgIcon {
            width: 30px;
            height: 20px;
            object-fit: cover;
        }
    }
    p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 0;
        margin-left: 20px;
        display: inline-block;
    }
}
.note {
    color: #fff;
}
.formField {
    margin-bottom: 15px;

    input {
        width: 300px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.26);
        border-radius: 4px;
        background-color: transparent;
        color: #777;
        font-size: 16px;
        &::placeholder {
            color: #777;
            font-size: 16px;
        }
        &:focus {
            border: solid 1px #0884ff;
            outline: transparent;
        }
    }
    select {
        width: 300px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.26);
        border-radius: 4px;
        background-color: transparent !important;
        option {
            background-color: #2c2c2c;
            font-size: 16px;
            color: #fff;
            padding: 10px 0;
        }
        &:focus {
            border: solid 1px #0884ff;
            outline: transparent;
        }
    }
}
.radioInpHolderTri {
    width: initial;
    margin-right: 20px;
}
.bgFill {
    input {
        background-color: #2c2c2c;
    }
}

.formField {
    input:disabled {
        background-color: #393939;
    }
}
.menuShowTwo {
    overflow-y: auto;
    max-height: 200px;
}
::ng-deep .mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
    background-color: white !important;
}
:host ::ng-deep .min .mat-slider-thumb {
    background-color: #0076ff;
}

:host ::ng-deep .min .mat-slider-thumb-label {
    background-color: #0076ff;
}
:host ::ng-deep .min .mat-slider-track-fill {
    background-color: #0076ff;
}
::ng-deep .mat-slider-wrapper {
    background-color: rgba(255, 255, 255, 0.26) !important;
}
::ng-deep .mat-slider-horizontal {
    min-width: 300px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}
::ng-deep .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
}

::ng-deep .mat-slider-thumb {
    transform: scale(0) !important;
}

::ng-deep .mat-slider-thumb-label-text {
    opacity: 1 !important;
}

.raidaStatOuter {
    margin-bottom: 20px;
    .raidaStatWrap {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // margin-bottom: 5px;
        text-align: left;
        table {
            width: 100%;
        }
        .raidaStatDesc {
            font-size: 18px;
            color: #048100;
            text-align: left;
            &.redText {
                color: #b40000;
                font-size: 16px;
            }
        }
    }
}
.custom_check input {
    display: none;
}
.custom_check label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
    color: #fff;
    margin: 0;
}
.custom_check label::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.custom_check label::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color: #0076ff;
    opacity: 0;
}
.custom_check input:checked ~ label::before {
    opacity: 1;
}
.text_box_two {
    // position: relative;
    background-color: #ffffff;
    color: #2d2d2d;
    border: 1px solid rgb(188, 187, 187);
    border-radius: 4px;
    display: inline;
    font-size: 14px;
    width: 500px;
    text-align: center;
    // margin-left: 10px;
}
