.leftPanleWrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 999;
    @media screen and (max-width: 768px) {
        position: absolute;
        // left: -100%;
        padding-top: 30px;
    }
}
.rightpanelWrapper {
    // width: calc(100% - 330px);
    width: calc(100% - 300px);
    margin-left: 300px;
    // margin-left: 330px;
    padding: 30px;
    // padding: 30px 30px 30px 0;
    min-height: 100vh;
    // padding-bottom: 70px;
    @media screen and (max-width: 768px) {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 20px;
    }
}

.backArroLeft {
    display: none;
    position: absolute;
    left: 20px;
    top: 5px;
    @media screen and (max-width: 768px) {
        display: inline-block;
    }
    img {
        height: 18px;
    }
}