<div class="transWrapper" *ngIf="type === 'localwallet'">
    <div class="headerbackWrap">
        <a href="javascript:;" routerLink="/dashboard/home" class="backBtnInHeader"><img src="assets/arrow.svg"
                alt=""></a>
        <span class="titleOne">Fix Fractured Coins</span>
    </div>
    <div class="gap20"></div>
    <div class="transBody">
        <p class="subTitleTwo">Fix your damaged/fractured coins.</p>
        <div class="lineSection">
            <div *ngIf="!goTODash">
                <div class="progressWrap">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="background-color: green!important;"
                        [ngStyle]="{'width': fixProg?.progress < 10 ? 10 + fixProg?.progress + '%' : (fixProg?.progress - 5) + '%'}"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Checking your Wallet...</div>
                    </div>
                </div>
                <div class="formField" *ngIf="fixProg?.progress == '100' && goTODash">
                    <div class="checkboxInpHolder">
                        <img src="assets/green-check.svg" alt="icon"> <span style="color: #2a4;"> Damaged coins have been
                            fixed.</span>
                    </div>
                </div>
            </div>
            <div class="gap10"></div>
            <div class="fixfrackedTwo" *ngIf="fixProg?.status === 'completed'">
                <div class="healthList">
                    <div class="healthListDiv">
                        <p>Total Fractured Coins:</p>
                        <h6>{{fixProg?.data?.total_fixed + fixProg?.data?.total_skipped + fixProg?.data?.total_errors}}
                        </h6>
                    </div>
                    <div class="healthListDiv">
                        <p>Coins Successfully Fixed:</p>
                        <h6>{{fixProg?.data?.total_fixed}}</h6>
                    </div>
                    <div class="healthListDiv">
                        <p>Total Coins Skipped:</p>
                        <h6>{{fixProg?.data?.total_skipped}}</h6>
                    </div>
                    <div class="healthListDiv">
                        <p>Total Errors:</p>
                        <h6>{{fixProg?.data?.total_errors}}</h6>
                    </div>
                    <!-- <div class="healthListDiv">
                        <p>Total fixes made <span>(number of times RAIDA servers that fixed a coin)</span></p>
                        <h6>{{fixProg?.data?.total_fixes_made}}</h6>
                    </div>
                    <div class="healthListDiv">
                        <p>Total fixes failed <span>(number of times RAIDA servers did not fix a coin)</span></p>
                        <h6>{{fixProg?.data?.total_fixes_failed}}</h6>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="transBottomFooter">
        <button class="btnCustomBlue" [ngClass]="{'btnDisable': goTODash === false}"
            (click)="goTODash ? router.navigate(['/dashboard/home']) : ''">Close</button>
    </div>
</div>

<div class="transWrapper" *ngIf="type === 'skywallet'">
    <div class="headerbackWrap">
        <a href="javascript:;" routerLink="/dashboard/home" class="backBtnInHeader"><img src="assets/arrow.svg"
                alt=""></a>
        <span class="titleOne">Fix ID Coin</span>
    </div>
    <div class="gap20"></div>
    <div class="transBody">
        <p class="subTitleTwo">Fix your SkyVault's ID coin.</p>
        <div class="lineSection">
            <div *ngIf="!goTODash">
                <div class="progressWrap">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': syncProg?.progress + '%'}"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">Detecting ID Coin...</div>
                    </div>
                </div>
                <div class="formField" *ngIf="syncProg?.progress == '100' && goTODash">
                    <div class="checkboxInpHolder">
                        <img src="assets/green-check.svg" alt="icon"> <span style="color: #2a4;">ID coin Detected.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="healthList" *ngIf="goTODash">
            <div class="healthListDiv">
                <p>Total Coins Checked:</p>
                <h6>{{payload?.data?.number_fixed + payload?.data?.number_failed}}
                </h6>
            </div>
            <div class="healthListDiv">
                <p>ID Coins Successfully Fixed:</p>
                <h6>{{payload?.data?.number_fixed}}</h6>
            </div>
            <div class="healthListDiv">
                <p>Failed to Fix:</p>
                <h6>{{payload?.data?.number_failed}}</h6>
            </div>
        </div>
    </div>
    <div class="transBottomFooter">
        <button class="btnCustomBlue" (click)="goTODash ? router.navigate(['/dashboard/home']) : ''" [ngClass]="{'btnDisable' : goTODash === false}"
            >Close</button>
        <!-- <button class="btnCustomBlue" [ngClass]="{'btnDisable': syncProg?.status != 'completed'}" (click)="fixSky()"
            *ngIf="!fixSkyvault">SYNC</button> -->
    </div>
</div>

<div class="onEventLoadWrap" *ngIf="showLoader">
    <ng-container>
        <div class="text-center loader_show">
            <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
            <span style="color:#ffffff">Fixing ID Coin...</span>
        </div>
    </ng-container>
</div>
