.scroll{
    overflow-y: auto;
    max-height: 200px;
}
.onLoad {
    opacity: 0.3;
}
input{
    height: auto;
}
.custom_check input{
    display: none;
}
.custom_check label{
    position: relative;
    padding-left: 30px;
    display: inline-block;
    color: #fff;
    margin: 0;
}
.custom_check label::after{
    position: absolute;
    content: '';
    top:0 ;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.custom_check label::before{
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background-color: #0076ff;
    opacity: 0;
}
.custom_check input:checked ~ label::before{
    opacity: 1;
}